%table.table.table-striped
  %thead
    %tr
      %th{colspan: 2}= sort_link @search, :name_en
      %th= sort_link @search, :level
  %tbody
    - @spells.each do |spell|
      %tr
        %td.icon-cell= link_to wow_icon(spell.icon.name), spell
        %td
          = link_to spell.name, spell, class: 'yellow wow-link'
          - unless spell.rank.blank?
            %p= spell.rank
        %td
          = spell.level if spell.level > 0

= paginate @spells