.page-header
  %h1= @spell.name

#spell
  .row
    .col-md-8
      .row
        .col-lg-8.info
          = wow_icon(@spell.icon_name, 56)
          %ul.detail.list-unstyled
            %li
              %h4= @spell.name
              - unless @spell.rank.blank?
                .pull-right
                  %h4.spell-rank= @spell.rank
            - if @spell.power_cost > 0 || @spell.range.max > 0 || @spell.power_cost_percent > 0
              %li
                = power_cost_tooltip(@spell)
                - if @spell.range.max > 0
                  .pull-right
                    = t('wow.tooltip_spell_range', range: @spell.range.max)
            - if @spell.cast_time.to_i > 0 || @spell.cast_time_id == 1 || @spell.cooldown > 0
              %li
                - if @spell.cast_time_id != 1
                  = t('wow.tooltip_spell_cast_time', cast_time: @spell.cast_time.to_i)
                - elsif @spell.channel_interrupt_flags
                  = t('wow.tooltip_spell_instant')
                - elsif @spell.cast_time_id == 1
                  = t('wow.tooltip_spell_channel')
                - if @spell.cooldown > 0
                  .pull-right
                    = t('wow.tooltip_cooldown', count: @spell.cooldown)
            - if @spell.level?
              %li= t('wow.tooltip_required_level', level: @spell.level)
            - if @spell.reagents.count > 0
              %li
                = "#{t('wow.reagents')}: "
                = reagents_links(@spell.reagents)
            - if @spell.tools.count > 0
              %li
                = "#{t('wow.tools')}: "
                = tools_links(@spell.tools)
            - unless @spell.tooltip.blank?
              %li.yellow= @spell.tooltip
      - if @spell.reagents.count > 0 || @spell.tools.count > 0
        .row
          - if @spell.reagents.count > 0
            .col-lg-4.col-md-6
              %h3= t('wow.reagents')
              %ul.detail.list-unstyled
                - @spell.reagents.each do |r|
                  %li.item= wow_item_link(r.item, r.amount)
          - if @spell.tools.count > 0
            .col-lg-4.col-md-6
              %h3= t('wow.tools')
              %ul.detail.list-unstyled
                - @spell.tools.each do |t|
                  %li.item= wow_item_link(t)

    .col-md-4
      .quick-facts
        .blur-overlay
        .facts-container.well
          %h4= t('wow.quick_facts')
          %ul
            - if @spell.level?
              %li= t('wow.tooltip_required_level', level: @spell.level)
            - if @spell.focus_object_id?
              %li= t('wow.requires_game_object', game_object: @spell.focus_object.name)
            - if !@spell.skill.nil? && @spell.skill.profession?
              %li= "#{t('wow.requires')}: #{@spell.skill.name}(#{@spell.skill_ability.learn_value})"
              %li= "#{t('wow.training_cost')}: #{format_money(@spell.skill_ability.spell_cost)}"
              %li= "#{t('wow.difficulty')}: #{skill_difficulty(@spell.skill_ability)}"
          %h4= t('learn_more')
          = wowhead_link('spell', @spell.id)

  %hr
  - unless @spell.buff.blank?
    .row
      .col-lg-4
        %h3= t('wow.aura')
        %ul.detail.list-unstyled
          %li
            %h4.yellow= @spell.name
            - if @spell.dispel_type_id > 0
              %h4.yellow.pull-right= @spell.dispel_type.name_en
          %li= @spell.buff
          - if @spell.duration.to_i > 0
            %li.yellow=t('wow.tooltip_duration_left', count: @spell.duration.to_i)
  %h3= t('wow.spell_description')
  %table.table.table-bordered
    %tr
      %td.col-lg-2
        = t('cost')
      %td.col-lg-4
        = power_cost_tooltip(@spell) || t('none')
      %td.col-lg-2
        = t('duration')
      %td.col-lg-4
        - if @spell.duration_id?
          = t('wow.duration', count: @spell.duration.to_i)
        - else
          = t('none')
    %tr
      %td= t('wow.range')
      %td= "#{t('wow.range_with_unit', count: @spell.range.max)} (#{@spell.range.name_en})"
      %td= t('wow.school')
      %td= t("wow.schools.#{@spell.school}")
    %tr
      %td= t('wow.cast_time')
      %td
        - if @spell.cast_time_id != 1
          = t('wow.duration', count: @spell.cast_time.to_i)
        - elsif @spell.channel_interrupt_flags
          = t('wow.tooltip_spell_instant')
        - else
          = t('wow.tooltip_spell_channel')
      %td= t('wow.mechanic')
      %td
        - if @spell.mechanic_id?
          = @spell.mechanic.name_en
        - else
          = t('none')
    %tr
      %td= t('wow.cooldown')
      %td
        - if @spell.cooldown > 0
          = t('wow.duration', count: @spell.cooldown)
        - else
          = t('none')
      %td= t('wow.dispel_type')
      %td
        - if @spell.dispel_type_id > 0
          = @spell.dispel_type.name_en
        - else
          = t('none')
    - if @spell.targets > 0
      %tr
        %td= t('wow.max_targets')
        %td{colspan: 3}
          = @spell.targets
    - @spell.effects.each do |effect|
      %tr
        %td= t('wow.effect', num: effect.number)
        %td.spell-effect{colspan: 3}
          = wow_spell_effect_info(effect)


= debug(@spell)